/* Global styles */
html {
  font-size: 100%;
}

body {
  font-family: sans-serif, "Helvetica Neue", Helvetica, Arial;
  font-size: 1em;
  line-height: 1.6;
  color: #222;
  font-weight: 400;
  margin: 0;
}

div.logout {
  padding: 30px;
  width: 100%;
  text-align: center;
}

h1.logout_heading {
  margin-bottom: 30px;
}
