div.app-container {
  display: flex;
}

div.action-component-box {
  border: 2px solid black;
  border-radius: 12px;
  background-color: aliceblue;
  min-height: 600px;
}

h2.boxheader {
  font-size: 1em;
  font-weight: bold;
  background-color: mediumpurple;
  margin: 0;
  padding: 0.1em;
  margin-bottom: 1em;
  background-clip: border-box;
  overflow: hidden;
}

hr {
  margin-left: 2em;
  margin-right: 2em;
}

div.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

img.loading-image {
  min-width: 200px;
  max-height: 50px;
  flex: 1 1 0;
  object-fit: cover;
}
