div.login-banner {
  display: flex;
  background-color: lightgray;
  padding: 0.75em;
  border-radius: 12px;
  align-content: center;
}

div.welcome {
  flex: 8;
  justify-self: center;
  text-align: center;
  overflow: hidden;
  font-size: larger;
  font-weight: bold;
}

p.smaller {
  font-size: 0.6em;
  font-weight: normal;
  font-style: italic;
  padding: 0;
  margin: 0;
}

p.warning {
  color: orangered;
}

div.username-box {
  flex: 1;
  justify-self: end;
  text-align: right;
}
