div.api-client-holder {
  display: flex;
}

div.action-component-box {
  flex: 1;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

div.home-page-container-box {
  margin-left: 20px;
}

.home-page-comissions-table {
  /*max-width: 45%;*/
}

.MuiTableRow-hover {
  cursor: pointer;
}

.home-page-table {
  vertical-align: top;
}
